* { font-family: Roboto, sans-serif; }

header { position: relative; }

nav { height: 50px; background-color: #212121; }

.hamburger { display: none; }

.menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 13px 70px; margin: 0; list-style-type: none; }
.menu_link { color: #fff; font-size: 15px; font-weight: 300; }
.menu_item { border-right: 2px dotted #000; padding-right: 28px; }
.menu_item:last-child { border-right: none; }

.subheader { position: absolute; width: 100%; height: 84px; background-color: rgba(0, 0, 0, 0.6); }
.subheader_logo { display: block; max-width: 100%; margin-top: 16px; }
.subheader_official { margin-top: 6px; opacity: 0.5; font-weight: 400; font-size: 13px; color: #fff; }
.subheader_call { margin-top: 19px; font-weight: 300; font-size: 12px; color: #fff; text-align: right; }
.subheader_phone { display: block; margin-top: 8px; font-weight: 400; font-size: 22px; text-transform: uppercase; color: #fff; text-align: right; line-height: 12px; }
.subheader_btn { margin-top: 19px; width: 172px; height: 46px; background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1EACC7), to(#4ce2ff)); background: linear-gradient(0deg, #1EACC7 0, #4ce2ff 100%); border: none; border-radius: 4px; -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12); box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12); font-weight: 400; font-size: 14px; text-transform: uppercase; color: #fff; }
.subheader_btn:hover { background-image: none; background-color: #1EACC7; }

.promo { min-height: 800px; background: url("../img/main_bg/main_back.png") center center/cover no-repeat; padding: 150px 0 135px 0; }
.promo_header { font-weight: 700; font-size: 60px; text-align: center; text-transform: uppercase; color: #fff; line-height: 60px; margin: 0; }
.promo_subheader { font-weight: 700; font-size: 36px; text-align: center; text-transform: uppercase; color: #fff; line-height: 36px; margin: 0; margin-top: 22px; }
.promo_descr { margin-top: 23px; font-weight: 400; font-size: 18px; line-height: 24px; text-align: center; color: #fff; }
.promo_btn { display: block; margin: 118px auto 0 auto; width: 259px; height: 63px; background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1EACC7), to(#4ce2ff)); background: linear-gradient(0deg, #1EACC7 0, #4ce2ff 100%); border: none; border-radius: 4px; -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12); box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12); font-weight: 400; font-size: 18px; text-align: center; text-transform: uppercase; color: #fff; }
.promo_btn:hover { background-image: none; background-color: #1EACC7; }

.eight { padding: 71px 0 65px 0; }
.eight_block { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 35px; }
.eight_block .eight_icon { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: 26px; width: 113px; height: 113px; background-color: #1EACC7; border-radius: 100%; }
.eight_block .eight_descr { width: 343px; }
.eight_block .eight_descr .eight_title { line-height: 21px; color: #1EACC7; font-size: 17px; font-weight: 400; }
.eight_block .eight_descr .eight_text { color: #202020; font-size: 15px; font-weight: 300; line-height: 21px; }

.label { display: block; margin: 0 auto; width: 115px; height: 27px; padding: 5px 12px; background: #000; font-weight: 300; font-size: 11px; text-align: center; text-transform: uppercase; color: #fff; }

.title { margin-top: 13px; font-weight: 700; font-size: 38px; text-align: center; text-transform: uppercase; color: #222; }

.subtitle { margin-top: 19px; font-weight: 400; font-size: 17px; text-align: center; color: #222222; }

.mobile { min-height: 864px; padding: 48px 0 79px 0; background: url(../img/mobile_bg/mobile_bg.png) center center/cover no-repeat; }
.mobile .row { margin-top: 32px; }
.mobile_item { position: relative; width: 320px; height: 280px; margin: 0 auto; margin-bottom: 19px; padding-top: 92px; }
.mobile_item_1 { background: url(../img/opportunities/1.png) center center/cover no-repeat; }
.mobile_item_2 { background: url(../img/opportunities/2.png) center center/cover no-repeat; }
.mobile_item_3 { background: url(../img/opportunities/3.png) center center/cover no-repeat; }
.mobile_item_4 { background: url(../img/opportunities/4.png) center center/cover no-repeat; }
.mobile_item_5 { background: url(../img/opportunities/5.png) center center/cover no-repeat; }
.mobile_item_6 { background: url(../img/opportunities/6.png) center center/cover no-repeat; }
.mobile_item_subtitle { font-weight: 400; font-size: 24px; line-height: 31px; text-align: center; text-transform: uppercase; color: #FFFFFF; }
.mobile_item_plus { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: absolute; bottom: 35px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 26px; height: 26px; background-color: #000000; margin: 0 auto; border-radius: 100%; cursor: pointer; }
.mobile_item_plus:before { content: ""; display: block; height: 2px; width: 14px; background-color: #1EACC7; -webkit-transition: 0.3s all; transition: 0.3s all; }
.mobile_item_plus:after { content: ""; position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); display: block; height: 14px; width: 2px; background-color: #1EACC7; -webkit-transition: 0.3s all; transition: 0.3s all; }
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after { background-color: #FF5656; }

.label_white { display: block; margin: 0 auto; width: 115px; height: 25px; padding: 5px 12px; background: #ffffff; font-weight: 300; font-size: 11px; text-align: center; text-transform: uppercase; color: #000000; }
.label_white_world { width: 75px; height: 25px; }

.title_white { margin-top: 13px; font-weight: 700; font-size: 38px; text-align: center; text-transform: uppercase; color: #ffffff; }

.subtitle_white { margin-top: 19px; font-weight: 400; font-size: 17px; text-align: center; color: #ffffff; }

.choice { min-height: 900px; padding: 55px 0 140px 0; background: url(../img/choice/bg_black.png) top -499px center/cover no-repeat, url(../img/mobile_bg/mobile_bg.png) center center/cover no-repeat; }
.choice_car { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 55px; }
.choice_text { margin-top: 10px; font-weight: 300; font-size: 17px; line-height: 24px; text-align: center; color: #222222; }

.require { padding: 68px 0 84px 0; }
.require_block { margin: 33px 0; }
.require_block_nmb { margin-bottom: 0px; }
.require_title { font-weight: 400; font-size: 22px; color: #1CA8C3; }
.require_list { list-style-type: none; padding-left: 50px; margin-top: 22px; }
.require_list li { position: relative; font-size: 17px; font-weight: 400; line-height: 24px; margin-bottom: 10px; }
.require_list li::before { content: ""; display: block; position: absolute; left: -31px; top: 3px; width: 21px; height: 20px; background: url("../icons/conditions/blue.svg") center center/cover no-repeat; }
.require_descr { margin-top: 25px; font-weight: 300; font-size: 17px; line-height: 24px; color: #1CA8C3; }
.require .warning .require_title { color: #FF5656; }
.require .warning .require_list li::before { background: url("../icons/conditions/red.svg") center center/cover no-repeat; }

.world { min-height: 720px; padding: 30px 0 22px 0; background: url(../img/last_bg/last_bg.png) center center/cover no-repeat; }
.world_openall { margin-top: 490px; text-align: center; text-transform: uppercase; }
.world_link { color: #1FBAD6; font-weight: 400; font-size: 15px; }

footer { padding: 14px 23px 39px 23px; }
footer a:hover { text-decoration: none; }

.footer_line { width: 299px; height: 4px; background-color: #1fbad6; margin: 0 auto; }

.footer_wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding-top: 32px; }
.footer_wrapper > div { width: 33%; }
.footer_wrapper > div:nth-child(3) { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.footer_social { width: 160px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.footer_round { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0 4px; width: 32px; height: 32px; background-color: #070716; border-radius: 100%; }
.footer_round i { color: #fff; }

.footer_link { width: 390px; margin: 0 auto; }

.footer_main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0 10px; }
.footer_main a { color: #070716; font-size: 15px; font-weight: 300; text-transform: uppercase; }

.footer_sublink { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 10px; }
.footer_sublink a { color: #999999; font-size: 11px; font-weight: 300; text-transform: uppercase; }

.footer_langchange { display: block; margin: 0 auto; color: #1fbad6; font-size: 11px; font-weight: 400; margin-top: 19px; text-transform: uppercase; text-align: center; }

.footer_mobile { width: 295px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
.footer_mobile img { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0 5px; width: 90px; height: 25px; }

.xs-visible { display: none; }

@media (max-width: 1200px) { .menu_item { padding-right: 20px; }
  .menu_link { font-size: 13px; }
  .promo_header { font-size: 50px; }
  .eight_block { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
  .eight_descr { width: 300px; }
  .mobile_item { position: relative; width: 300px; height: 260px; margin-bottom: 20px; }
  .footer_mobile { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .footer_mobile img { margin-top: 5px; }
  .footer_link { width: auto; } }
@media (max-width: 991px) { .menu_item { padding-right: 8px; }
  .menu_link { font-size: 10px; }
  .subheader_logo img { width: 100%; }
  .subheader_official { font-size: 11px; }
  .subheader_phone { font-size: 18px; }
  .subheader_btn { margin-top: 21px; height: 40px; width: 100%; }
  .promo_header { font-size: 40px; }
  .promo_subheader { font-size: 30px; }
  .eight_block { -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .eight_block .eight_icon { margin-right: 0; }
  .eight_descr { width: 300px; margin-top: 20px; }
  .mobile { min-height: 650px; }
  .mobile_item { position: relative; width: 200px; height: 160px; margin-bottom: 15px; padding-top: 46px; }
  .mobile_item_subtitle { font-size: 16px; }
  .mobile_item_plus { bottom: 15px; }
  .choice_car img { width: 680px; height: 430px; }
  .footer_mobile { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .footer_mobile img { margin-top: 5px; }
  .footer_link { width: auto; }
  .footer_main a { font-size: 11px; }
  .footer_sublink a { font-size: 8px; } }
@media (max-width: 767px) { .menu { position: fixed; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; top: 0; left: -100%; width: 50%; height: 100vh; padding: 20px 15px; background-color: rgba(0, 0, 0, 0.8); -webkit-transition: 0.6s all; transition: 0.6s all; z-index: 1; }
  .menu_active { left: 0; }
  .menu_item { padding-right: 0; margin: 10px 0; border: none; }
  .menu_link { font-size: 20px; }
  .hamburger { display: block; position: absolute; right: 10px; top: 25px; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 26px; height: 12px; }
  .hamburger span { display: block; height: 2px; width: 100%; background-color: #fff; margin-bottom: 2px; -webkit-transition: 0.5s all; transition: 0.5s all; }
  .hamburger_active span { margin-bottom: -2px; }
  .hamburger_active span:nth-child(1) { -webkit-transform: translateY(3px) rotate(-45deg); transform: translateY(3px) rotate(-45deg); }
  .hamburger_active span:nth-child(2) { display: none; }
  .hamburger_active span:nth-child(3) { -webkit-transform: translateY(3px) rotate(45deg); transform: translateY(3px) rotate(45deg); }
  .xs-hidden { display: none; }
  .xs-visible { display: block; }
  .choice_car img { width: 500px; height: 316px; }
  .subheader_phone { display: block; margin-top: 10px; font-size: 16px; font-weight: 400; text-transform: uppercase; color: #ffffff; text-align: center; }
  .subheader_btn { width: 200px; height: 40px; display: block; margin: 0 auto; margin-top: 10px; }
  .promo_header { line-height: 45px; }
  .footer_mobile { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .footer_link { width: auto; }
  .footer_main a { font-size: 11px; }
  .footer_sublink a { font-size: 8px; } }
@media (max-width: 575px) { nav { height: 30px; }
  .subheader { height: 60px; top: 30px; }
  .subheader_official { display: none; }
  .subheader_logo { margin-top: 16px; }
  .subheader { height: 60px; }
  .subheader_phone { font-size: 12px; font-weight: 400; text-transform: uppercase; margin-top: 11px; }
  .subheader_btn { margin-top: 6px; width: 110px; height: 22px; font-size: 10px; }
  .subheader_btn:hover { background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1EACC7), to(#4ce2ff)); background: linear-gradient(0deg, #1EACC7 0, #4ce2ff 100%); }
  .promo { min-height: 400px; padding: 93px 0 35px 0; }
  .promo_descr { display: none; }
  .promo_header { font-size: 30px; padding: 0 24px; line-height: 35px; }
  .promo_subheader { font-size: 20px; margin-top: 33px; padding: 0 10px; line-height: 30px; }
  .promo_btn { width: 210px; height: 50px; margin-top: 72px; }
  .promo_btn:hover { background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1EACC7), to(#4ce2ff)); background: linear-gradient(0deg, #1EACC7 0, #4ce2ff 100%); }
  .menu { width: 85%; }
  .menu_item { width: 100%; text-align: center; padding: 5px 0; }
  .menu_link { display: block; }
  .eight { padding: 22px 0 36px 0; }
  .eight_block { margin-top: 26px; }
  .eight_block .eight_icon { margin-right: 0; width: 100px; height: 100px; }
  .eight_block .eight_descr { width: 100%; margin-top: 27px; }
  .eight_block .eight_descr .eight_title { font-size: 16px; }
  .hamburger { top: 20px; -webkit-transform: translateY(-75%); transform: translateY(-75%); }
  .title { font-size: 16px; margin-top: 15px; line-height: 16px; }
  .subtitle { margin: 11px 30px 0 27px; font-size: 14px; line-height: 21px; }
  .mobile .row { margin-top: 27px; }
  .mobile_item { display: block; width: 290px; height: 254px; margin: 0 auto; padding-top: 81px; padding-right: 42px; padding-left: 42px; margin-bottom: 30px; }
  .mobile_item_subtitle { font-size: 18px; }
  .title_white { display: none; }
  .subtitle_white { display: none; }
  .choice { min-height: 392px; background: none; background-color: #070716; padding: 25px 0 33px 0; }
  .choice_car { margin-top: 35px; }
  .choice_car img { width: 300px; height: 190px; }
  .choice_text { font-size: 17px; line-height: 24px; font-weight: 300; color: #ffffff; }
  .require { padding: 25px 0 26px 0; }
  .require_block { margin-top: 31px; }
  .require_block_nmb_1 { margin-top: 22px; }
  .require_title { font-size: 16px; line-height: 24px; }
  .require_descr { font-size: 14px; line-height: 1.2; margin-top: 11px; }
  .require_list { padding-left: 31px; margin: 11px 0 11px 0; }
  .require_list li { font-size: 14px; line-height: 1.2; }
  .world { min-height: 360px; padding: 25px 24px 30px 24px; }
  .title_white { display: block; font-size: 16px; margin-top: 15px; }
  .subtitle_white { display: block; font-size: 14px; margin-top: 10px; }
  footer { min-height: 245px; padding: 25px 21px 20px 18px; }
  .footer_line { width: 253px; height: 4px; background-color: #1fbad6; margin: 0 auto; }
  .footer_wrapper { padding-top: 22px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .footer_wrapper > div { width: 100%; }
  .footer_wrapper > div:nth-child(1) { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .footer_wrapper > div:nth-child(2) { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .footer_wrapper > div:nth-child(3) { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }
  .footer_main { padding: 0 0 0 0; }
  .footer_main a { font-size: 14px; }
  .footer_sublink { margin: 10px 17px 13px 20px; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .footer_sublink a { margin: 0 7px; font-size: 11px; }
  .footer_link { width: 290px; }
  .footer_langchange { margin-top: 10px; }
  .footer_mobile { width: 260px; height: 24px; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; margin: 0 auto; }
  .footer_mobile img { width: 83px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .footer_social { margin: 0 auto; margin-bottom: 20px; }
  .footer_langchange { margin-top: 0px; margin-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */